:root {
    --background-color: #ffffff; /* Color de fondo en modo claro */
    --banner-color:#ffffff;
    --text-color: #000000; /* Color de texto en modo claro */
    --titles-color:#E48E00;
  }
  
  .dark {
    --background-color: #000000; /* Color de fondo en modo oscuro */
    --text-color: #ffffff; /* Color de texto en modo oscuro */
    --banner-color:#333;
    --titles-color:#F60BFE;
  }
  body {
    background-color: var(--background-color)!important;
    color: var(--text-color)!important;
  }
  .btn-text,label,a,p,h1{
    color: var(--text-color)!important;
  }
  h1,h2,h3{
    color:var( --titles-color)!important;
  }
  .banner, nav{
    background-color: var(--banner-color)!important;
  }
.rowImage{
  background-image: url('../img/doctores.png');
  background-position: bottom right;
  background-repeat: no-repeat;
  background-size: 400px;
}